/* Модальное окно */
.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  max-width: 450px;
  border-radius: 4px;
  background-color: $primaryBackgroundColor;
  position: absolute;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

@media screen and (min-width: 450px) {
  .modal-window {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    min-width: 528px;
  }
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: $accentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-top-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: $titleTextColor;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .form-top-text {
    line-height: 1.15;
    max-width: unset;
  }
}

.form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: $accentColor;
  outline: none;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: $primaryTextColor;
}

.form-label-text {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: $titleTextColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: $accentColor;
}

.form-about {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.form-about:focus {
  border-color: $accentColor;
  outline: none;
}

.form-about::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agree {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: $primaryTextColor;
}

@media screen and (min-width: 1200px) {
  .agree {
    font-size: 14px;
  }
}

.modal-form-policy-link {
  color: $accentColor;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox-custom-icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid $titleTextColor;
  border-radius: 2px;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-input:focus + .checkbox-custom-icon {
  border-color: $accentColor;
}

.form-checkbox-input:checked + .checkbox-custom-icon {
  background-color: $accentColor;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-color: $accentColor;
  border-radius: 2px;
}

.form-button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  padding: 10px 55px;
  background-color: $accentColor;
  border: 0;
  letter-spacing: 0.06em;
  color: $primaryBackgroundColor;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 320px) {
  .checkbox-custom-icon {
    width: 20px;
  }
}

.checkbox {
  margin-bottom: 31px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 425px;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  background-image: url(../images/vector.svg);
  background-size: contain;
}

.checkbox__text {
  display: inline-block;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox__legal:checked + .checkbox__icon {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
}
.checkbox__legal {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.checkbox__policy {
  font-weight: normal;
  font-size: $primaryFontSize;
  line-height: $primaryLineHeight;

  letter-spacing: $primaryLetterSpacing;
  text-decoration-line: underline;

  color: $accentColor;
}
