/* Чем мы занимаемся */

.services {
  @media screen and (min-width: 1200px) {
    padding: 0 0 94px 0;
  }

  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: $titleTextColor;
}
.services__title {
  margin-bottom: 50px;
}
.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  position: relative;

  width: 370px;
  height: 294px;
}
.services__caption {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  height: 70px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
}

.services__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primaryBackgroundColor;
}
