/* Наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  width: 270px;
  background-color: $primaryBackgroundColor;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: $titleTextColor;
}

.team__job {
  font-size: $primaryFontSize;
  line-height: 1.18;
  text-align: center;

  color: $primaryTextColor;
}
.team__socials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}
.team__iconfield {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}

.team__icon {
  display: block;
  margin: 12px;
  fill: $iconsColor;

  .team__iconfield:hover & {
    fill: $primaryBackgroundColor;
  }
  .team__iconfield:focus & {
    fill: $primaryBackgroundColor;
  }
}
