$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$primaryBackgroundColor: #ffffff;
$blackColor: #000000;
$iconsColor: #afb1b8;
$primaryFontFamily: "Roboto", sans-serif;
$primaryFontSize: 14px;
$primaryFontWeight: 400;
$primaryLineHeight: 1.71;
$primaryLetterSpacing: 0.03em;
